p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.heading-text {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    text-transform: capitalize;

    color: #000000;
}

.d-btn {
    width: 69.76px;
    height: 33.33px;
    background: linear-gradient(94.33deg, #F1F1F1 22.44%, #F1F1F1 124.46%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: capitalize;
}

.booking-text {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    text-transform: capitalize;

    color: #FFFFFF;
}

.d-btn-selected {
    width: 69.76px;
    height: 35.44px;
    background: linear-gradient(94.33deg, #FF8412 22.44%, #FF8412 22.45%, #B1008A 124.46%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.appointment-text {
    color: #E97000;
}

.action-btn {
    width: 94.67px;
    height: 33.33px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    text-transform: capitalize;

    background: linear-gradient(93.12deg, #B1008A -19.35%, #060D67 122.43%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    border-radius: 50px;
    color: #FFFFFF;

}

.action-btn-cancel {
    width: 88.69px;
}

.action-btn-view {
    width: 89px;
    height: 32px;

    border: 1px solid #999999;
    border-radius: 27px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    text-transform: capitalize;

    color: #000000;
}

.doc-card {
    background: #F7F7F7;
    border-radius: 9px;
}

.doc-logo {
    width: 75.52px;
    height: 75.52px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 3px solid rgba(255, 132, 18, 0.4);
}

.wrapper-info {
    background: linear-gradient(to right, #0037C5, #08005F);
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

.book-now-btn {
    width: 86.7px;
    height: 35.44px;
    left: 237px;
    top: 106.77px;

    background: linear-gradient(83.18deg, #FF8412 -30.08%, #D23758 60.11%, #B1008A 97.49%);
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    // background: linear-gradient(to right, #FF8412, #D23758, #B1008A);
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: capitalize;

    color: #FFFFFF;
}

.btn {
    padding-left: 0;
    padding-right: 0;
}

.eye-icon {
    margin-right: 7px;
}

.card {
    width: 360px;
    border-radius: 0px 40px 0px;
    -webkit-border-radius: 0px 40px 0px;
    -moz-border-radius: 0px 40px 0px;
    -ms-border-radius: 0px 40px 0px;
    -o-border-radius: 0px 40px 0px;
}

.btn-back {
    background: linear-gradient(94.33deg, #F1F1F1 22.44%, #F1F1F1 124.46%);
    font-weight: 700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}